NET mclk 			LOC = F22 | IOSTANDARD = LVCMOS33;
NET rst 				LOC = D18 | IOSTANDARD = LVCMOS33;
NET led<0>			LOC = C19 | IOSTANDARD = LVCMOS33;
NET led<1>			LOC = A17 | IOSTANDARD = LVCMOS33;
NET led<2>			LOC = B17 | IOSTANDARD = LVCMOS33;
NET led<3>			LOC = A19 | IOSTANDARD = LVCMOS33;

NET adci<0>			LOC = W21 | IOSTANDARD = LVCMOS33;
NET adci<1>			LOC = V21 | IOSTANDARD = LVCMOS33;
NET adci<2>			LOC = T23 | IOSTANDARD = LVCMOS33;
NET adci<3>			LOC = U21 | IOSTANDARD = LVCMOS33;
NET adci<4>			LOC = T22 | IOSTANDARD = LVCMOS33;
NET adci<5>			LOC = Y20 | IOSTANDARD = LVCMOS33;
NET adci<6>			LOC = AC22 | IOSTANDARD = LVCMOS33;
NET adci<7>			LOC = P25 | IOSTANDARD = LVCMOS33;
NET adci<8>			LOC = AB22 | IOSTANDARD = LVCMOS33;
NET adci<9>			LOC = R25 | IOSTANDARD = LVCMOS33;
NET adci<10>		LOC = L25 | IOSTANDARD = LVCMOS33;
NET adci<11>		LOC = D8 | IOSTANDARD = LVCMOS33;
NET adci<12>		LOC = A8 | IOSTANDARD = LVCMOS33;
NET adci<13>		LOC = M25 | IOSTANDARD = LVCMOS33;

NET adcq<0>			LOC = J10 | IOSTANDARD = LVCMOS33;
NET adcq<1>			LOC = J11 | IOSTANDARD = LVCMOS33;
NET adcq<2>			LOC = H11 | IOSTANDARD = LVCMOS33;
NET adcq<3>			LOC = V24 | IOSTANDARD = LVCMOS33;
NET adcq<4>			LOC = H12 | IOSTANDARD = LVCMOS33;
NET adcq<5>			LOC = C11 | IOSTANDARD = LVCMOS33;
NET adcq<6>			LOC = V23 | IOSTANDARD = LVCMOS33;
NET adcq<7>			LOC = R17 | IOSTANDARD = LVCMOS33;
NET adcq<8>			LOC = C12 | IOSTANDARD = LVCMOS33;
NET adcq<9>			LOC = R16 | IOSTANDARD = LVCMOS33;
NET adcq<10>		LOC = R23 | IOSTANDARD = LVCMOS33;
NET adcq<11>		LOC = G14 | IOSTANDARD = LVCMOS33;
NET adcq<12>		LOC = R22 | IOSTANDARD = LVCMOS33;
NET adcq<13>		LOC = H14 | IOSTANDARD = LVCMOS33;

NET daci<0>			LOC = AD21	| IOSTANDARD = LVCMOS33;
NET daci<1>			LOC = AE21	| IOSTANDARD = LVCMOS33;
NET daci<2>			LOC = AD25	| IOSTANDARD = LVCMOS33;
NET daci<3>			LOC = AB26 	| IOSTANDARD = LVCMOS33;
NET daci<4>			LOC = AE25 	| IOSTANDARD = LVCMOS33;
NET daci<5>			LOC = M20  	| IOSTANDARD = LVCMOS33;
NET daci<6>			LOC = AC26	| IOSTANDARD = LVCMOS33;
NET daci<7>			LOC = N18 	| IOSTANDARD = LVCMOS33;
NET daci<8>			LOC = M19 	| IOSTANDARD = LVCMOS33;
NET daci<9>			LOC = AA25	| IOSTANDARD = LVCMOS33;
NET daci<10>		LOC = R18 	| IOSTANDARD = LVCMOS33;
NET daci<11>		LOC = AB25 	| IOSTANDARD = LVCMOS33;
NET daci<12>		LOC = P16 	| IOSTANDARD = LVCMOS33;
NET daci<13>		LOC = P18 	| IOSTANDARD = LVCMOS33;
NET daci<14>		LOC = Y25 	| IOSTANDARD = LVCMOS33;
NET daci<15>		LOC = N17 	| IOSTANDARD = LVCMOS33;

NET dacq<0>			LOC = J8  	| IOSTANDARD = LVCMOS33;
NET dacq<1>			LOC = K25  	| IOSTANDARD = LVCMOS33;
NET dacq<2>			LOC = Y23  	| IOSTANDARD = LVCMOS33;
NET dacq<3>			LOC = AA24 	| IOSTANDARD = LVCMOS33;
NET dacq<4>			LOC = AA23 	| IOSTANDARD = LVCMOS33;
NET dacq<5>			LOC = AB24	| IOSTANDARD = LVCMOS33;
NET dacq<6>			LOC = W23  	| IOSTANDARD = LVCMOS33;
NET dacq<7>			LOC = W24 	| IOSTANDARD = LVCMOS33;
NET dacq<8>			LOC = U26 	| IOSTANDARD = LVCMOS33;
NET dacq<9>			LOC = N26  	| IOSTANDARD = LVCMOS33;
NET dacq<10>		LOC = V26 	| IOSTANDARD = LVCMOS33;
NET dacq<11>		LOC = AE22 	| IOSTANDARD = LVCMOS33;
NET dacq<12>		LOC = M26 	| IOSTANDARD = LVCMOS33;
NET dacq<13>		LOC = P24 	| IOSTANDARD = LVCMOS33;
NET dacq<14>		LOC = AF22	| IOSTANDARD = LVCMOS33;
NET dacq<15>		LOC = N24 	| IOSTANDARD = LVCMOS33;

NET adc_clk			LOC = D9 | IOSTANDARD = LVCMOS33;
NET "adc_clk" CLOCK_DEDICATED_ROUTE = FALSE;

NET lpc_rst			LOC = U17 | IOSTANDARD = LVCMOS33;
NET lpc_clkin_p	LOC = N21 | IOSTANDARD = LVCMOS33;
NET lpc_clkin_n	LOC = N22 | IOSTANDARD = LVCMOS33;
NET sclk				LOC = W20 | IOSTANDARD = LVCMOS33;
NET csb				LOC = P19 | IOSTANDARD = LVCMOS33;

NET sdio				LOC = Y21		 | IOSTANDARD = LVCMOS33;#LPC_SPI_SDO
#LPC_SPI_SDI		LOC = P20


#PIN "pll/clkout3_buf.O" CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33;

NET "dac_clk" TNM_NET =  "clk1";    
TIMESPEC "TS_clk1" = PERIOD "clk1" 8 ns HIGH 50%;

NET "adc_clk" TNM_NET =  "clk2";    
TIMESPEC "TS_clk2" = PERIOD "clk2" 8 ns HIGH 50%;

#NET "chip_clk" TNM_NET =  "clk2";    
#TIMESPEC "TS_clk2" = PERIOD "clk2" 8 ns HIGH 50%;